* {
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 60px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

#erro {
    width: 85%;
    margin: 20px;
    border: 1px solid red;
    background-color: beige;
}

.login-cadastro {
    display: flex;
    align-items: end;
    justify-content: end;
}

.grid-anuncios {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 20px;
    justify-content: space-between;
}

.btn {
    position: relative;
    background:rgb(40, 137, 216);
    color: #eee;
    height: 30px;
    min-width: 90px;
    font-size: 16px;
    border: none;
    border-radius: 5px 5px 0 0;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline:none;
}

.submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}

.submitLink:focus {
    outline: none;
}

.none {
    display: none;
}

h2 {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
